#form {
  margin: 0 auto; /* Center align the form */
  width: 100%; /* Occupy full width */
  max-width: 400px;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;

  &.style-2 .form-control {
    background: #fff;
    border-left: 2px solid #707070;
  }
}

.link-login {
  display: flex;
  justify-content: space-evenly;
}

.signup-height {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center align the content horizontally */
}

/* Responsive Styles */

@media (max-width: 767px) {

  .col-lg-8.p-0 {
    display: none;
  }

  .col-lg-4.bg-white-login {
    width: 100%;
  }

  #form {
    margin: 0; /* Reset margin to remove horizontal spacing */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .signup-form {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .bg-img-fix {
    padding: 0;
  }

  #form {
    margin-left: auto; /* Align the form to the right */
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow-y: auto;
  }

  .signup-height {
    min-height: unset;
    justify-content: flex-start; /* Align the content to the top */
  }

  .form-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 991px) {
  /* Disable custom scrollbar styles for sign-up page on screens wider than 991px */
  html::-webkit-scrollbar {
    width: initial;
  }

  html::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: initial;
  }
}
