<%= simple_form_for @booking, url: clothes_path do |f| %>
  <h2>Select Service</h2>
  <!-- Form fields for service selection -->
  <%= f.input :item_type, collection: ["Pants", "Shirts", "Dresses"], include_blank: true, label: "Item Type" %>

  <%= f.input :quantity %>

  <%= f.button :submit, "Continue" %>
<% end %>
