<div class="service-card">
  <div class="service-icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="service-info">
    <%= f.label field_name, label %>
    <%= f.number_field field_name, min: 0, value: 0, class: 'item-quantity' %>
  </div>
</div>
